body {
  font-family: 'Livvic', sans-serif !important;
}

.img-fluid {
  padding-bottom: 5px;
}

.main-container {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #CDEDF6;
  padding: 30px;
  text-align: center;
  box-shadow: 10px 6px 5px rgba(0,0,0,.15);
}

.main-container button{
  box-shadow: 5px 5px 5px rgba(0,0,0,.15);
  border-radius: 0px;
  margin: 10px;
}

p {
  text-align: justify;
}

ul {
  text-align: left;
}
